* {
  padding: 0;
  margin: 0;

  line-height: 1;
  font-size: 1rem;
  font-family: 'ansam';
  box-sizing: border-box;
  color: #3B493E;
}

.text_style {
  color: #E5E2DD;
}

.box_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 80px;
  width: auto;
  background-color: #3B493E;
}

img {
  height: 80px;
  width: 80px;
  margin-left: 40px;
}

.Logo {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
  text-align: center;
}

.box_button {
  display: flex;
  gap: 15px;
  margin-right: 40px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 10px ; 
  max-height: 40px;
  border: 1px;
  cursor: pointer;
}

.button_style {
  border-radius: 10px;
  background-color: #E5E2DD;
}

.separation-container {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-servicos {
  text-align: center;
  margin-bottom: 40px;
  color: #D4AF37; 
  font-size: 20px;
}

.box-container {
  background-color: #fff;
  border: 1px solid #FFD700;
  border-radius: 5px;
  padding: 20px;
  width: 300px; 
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  line-height: 1.5;
}

.boxes-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 60px; 
  margin: 40px auto;
  max-width: 800px; 
}
