* {
    padding: 0;
    margin: 0;

    line-height: 1;
    font-size: 1rem;
    font-family: 'ansam';
    box-sizing: border-box;
    color: #3B493E;
}

html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text_style {
    color: #E5E2DD;
}

.box_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80px;
    width: 100%;
    background-color: #3B493E;
}

.box_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

img {
    height: 80px;
    width: 80px;
    margin-left: 40px;
}

.Logo h1, .Logo h2 {
    margin-left: 15px;
}

.Logo {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    text-align: center;
}


.box_button {
    display: flex;
    gap: 15px;
    margin-right: 40px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 10px ; 
    max-height: 40px;
    border: 1px solid #3B493E;
    text-decoration: none;
    cursor: pointer;
}

.button_style {
    border-radius: 10px;
    background-color: #E5E2DD;
}

.button_style:hover {
    background-color: #344136;
    color: #fff;
}

.main {
    flex: 1;
}

#quem_somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f9f9f9;
    margin: 40px 0;
    position: relative;
    overflow: hidden;
}

.banner_box {
    border-bottom: 0.5px solid #3B493E;
    border-top: 0.5px solid #3B493E;
    height: auto;
    width: 100%;
}

.titulo h1 {
    text-align: center;
    margin-bottom: 15px;
    display: inline-block;
    padding-bottom: 5px;
}

#slide {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
    height: auto;
    padding: 40px 0 0 0;
    gap: 50px;
}

#foto {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin-left: 40px;
}

.descricao h2 {
    text-align: center;
    color: #000;
    margin: 10px 0 20px 0;
}

.descricao p {
  text-indent: 30px;
}
.descricao {
    height: 400px;
    width: 600px;
    margin-right: 40px;
}

.bolinhas {
    text-align: center;
}

.bolinha {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #3B493E;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.bolinha.ativa {
    background-color: #080808;
}

