* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    color: black;
}

.box_head {
    display: flexbox;
    text-align: center;
    padding: 10px;
    height: 200px;
    width: auto;
    background-color: #3C4C3C;
}
.logo {
    position: absolute;
}

.box_button {
    display: flexbox;
    column-gap: 15px;
    margin-right: 10px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;    
    width: 100vh;
}

.button_style {
    border-radius: 5px;
}